
/* load google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;800;900&family=Squada+One&display=swap');


/*********** div styles / body styles **************/
.navbar {
  background-color: #5188ed;
  -webkit-box-shadow: 0px 5px 41px 0px rgba(48, 85, 148, 0.26);
  -moz-box-shadow: 0px 5px 41px 0px  rgba(48, 85, 148, 0.26);
  box-shadow: 0px 5px 41px 0px  rgba(48, 85, 148, 0.26);
  height: 40px;
}

.iconLg {
  font-size: 80px;
}



.linkTxt {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff
}

.navLink {
  margin-left: 25px;
  text-align: center;
  /* padding-left: 15px;
  padding-right: 15px; */
  border-radius: 5px;
  /* width: 50px; */
  /* background-color: #fff; */
  /* border-width: 2px; */
  border: solid #fff;
  border-width: 1px 1px;

  
}
.navBrand:hover, .navLink:hover, .linkTxt:hover{
  opacity: 0.5;
  text-decoration: none;
  color: #fff;
  
  
}

.blogBanner {
  background-color: #5188ed;
}

html {
	scroll-behavior: smooth;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.valueProp h2 {
  /* margin-left: 5%;
  margin-right: 5%; */
  margin: 5%;
  /* text-indent: 50px; */
}

/* navbar with shadow */
.nav-custom {
  background-color: #5188ed;
  -webkit-box-shadow: 0px 5px 41px 0px rgba(48,84,148,1);
  -moz-box-shadow: 0px 5px 41px 0px rgba(48,84,148,1);
  box-shadow: 0px 5px 41px 0px rgba(48,84,148,1);

  color: #fff
}

.nav-link {
  color: #fff
}

.parallax {
  /* The image used */
  background-image: url('assets/screens/appMock1R.png');
  /* background-color: #5188ed; */

  /* Full height */
  /* height: 800px;  */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.mainBody {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-top: 10%;
  padding-bottom: 5%;
}

.taglines {
  /* background-color: #f0f0f0;
   */

   -webkit-box-shadow: 0px 5px 41px 0px rgba(139, 139, 139, 0.26);
   -moz-box-shadow: 0px 5px 41px 0px  rgba(139, 139, 139, 0.26);
   box-shadow: 0px 5px 41px 0px  rgba(139, 139, 139, 0.26);

  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.centerTxt {
  text-align: center;
}

/* centers anything */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* to create empty space */
.spacer {
  padding-top: 100px
}

video:hover {
  opacity: 0.8;
}

      /*********** footer styling **************/

.page-footer {
  padding: 4% 0;
  /* background-color: rgb(211, 211, 211); */
  background-color: #f0f0f0;
  
}

.page-footer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  padding-left: 10px;
  /* color: #ffffff; */
  color: #525252
}
      /****************************************/

/****************************************/

/*********** text styles **************/
.title {
    animation: fadeIn 3.5s;
    color: 
    white;
}

.subTitle p {
    animation: fadeIn 3.5s;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

.head_reg h1 {
	font-size: 50px;
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Squada One', cursive; */
    font-weight: 800;
}


p {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: rgb(131, 131, 131);
}

.mainBody h2 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgb(112, 112, 112);
}

.header {
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Squada One', cursive; */
  font-weight: 700;
  color: rgb(112, 112, 112);
}
.header-blue{
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color:#5188ed;
}

.blue-h3 {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  /* color:#5188ed; */
  color: rgb(112, 112, 112);
  font-style: italic;
}

.blue {

}

.header-white{
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Squada One', cursive; */
  font-weight: 700;
  color:#ffffff;
}

/****************************************/

/*********** "See Future" button styling *************/
.btn-custom-head {
  color: white;
  padding: 10px 30px;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
  font-weight: 700;
  border-color: white;
  border-radius: 10px;
  border-style: solid;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.btn-custom-head:hover {
  color: #ffffff85;
  border-color: #ffffff85;
  border-width: 5px;
  border-radius: 10px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

/* anchor for button to scroll down to */
#seeFut {
  text-decoration: none;
}

/****************************************/

/*** email capture section styling ***/
.label {
  color: #ffffff;
}
.formRow {
  padding-bottom: 10px;
}
.emailCapture {
  background-color: #5188ed;
  border-color: #ffffff;
  border-radius: 10px;
  border-style: solid;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.emailCapture:hover {
  border-width: 10px;
  border-radius: 20px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.emailInner {
  padding: 20px 20px
}


/****************************************/

/* to keep toast msg fixed at top of screen */
.fixed {
  margin-top: 10px;
  margin-left: 10px;
  position: fixed;
  opacity: 1;
  top: 0;
  z-index: 99999;
}

/****************************************/

/********** social links styling *************/

.fa {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  margin-top: 0px;
  border-radius: 5px;
}
.fa:hover {
  /* background-color: white; */
  opacity: 0.5;
  text-decoration: none;
  color: #fff
}

/* Facebook */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

/*** conditional styling for small screens ***/
@media screen and (max-width: 700px) {

  .fa {
    padding: 10px;
    font-size: 15px;
  }

	.parallax {
        background-image: none;
	    background-color: #5188ed;
    
        /* Full height */
        /* height: 750px;  */
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

  .page h1 {
    font-size: 32px;
  }
  .page p {
    font-size: 14px;
  }

  .page h2 {
    font-size: 16px;
  }

  .mainBody h1, .header-white, .header  {
    font-size: 20px;
  }

  .blue-h3 {
    font-size: 14px
  }

  .screenimg {
    width: 50%;
  }

  .valueProp h2 {
    font-size: 12px;
  }

  



}

/****************************************/

/****************   blog   ****************/

